graft src/collective
graft docs
include *.rst
include *.txt
global-exclude *.pyc
recursive-exclude parts *
recursive-exclude docs/html *
recursive-exclude docs/doctrees *
recursive-exclude local *
exclude docs/Makefile
exclude docs/make.bat
